.weather-container {
  width: 350px;
  height: 300px;
  background-color: ghostwhite;
  border-radius: 8px;
  box-shadow: 0 0 50px 0px rgba(58, 113, 204, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}