@import url('https://fonts.googleapis.com/css?family=Lato:100');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

html,
body {
  background-color: lightslategray;
  margin: 0;
}

main {
  background-color: white;
  border-radius: 1rem;
  width: 300px;
  height: 420px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightslategray;
}

.big-text {
  font-family: 'Roboto', sans-serif;
}

.small-text {
  font-family: 'Lato', sans-serif;
}