@import url('https://fonts.googleapis.com/css?family=Raleway');

body,
html {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

a, a:link,
a:hover, a:visited,
a:active {
  text-decoration: none;
  color: gray;
}

button {
  background-color: transparent;
  font-size: 1rem;
  border: none;
}

button:disabled {
  font-weight: bolder;
  color: black;
}

footer {
  position: absolute;
  bottom: 1%;
  color: gray;
  font-size: 11px;
  text-transform: uppercase;
}

.container {
  background: linear-gradient(white, lightgray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.celcius-farenheit {
  position: absolute;
  top: 1%;
}

.neighborhood,
.city-state {
  font-size: 20px;
  line-height: 5px;
}

.temp {
  font-weight: bolder;
  line-height: 5px;
  font-size: 100px;
}

.temp-high,
.temp-low {
  font-size: 20px;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.temp-low {
  color: red;
  float: right;
}

.temp-high {
  color: blue;
  float: left;
}

.temp-high-low {
  display: inline-block;
}


