@import url('https://fonts.googleapis.com/css?family=Lato:100');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400');

html,
body {
  margin: 0;
}

hr {
  width: 50px;
  border: 0.5px solid;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.forecast {
  display: flex;
}

.forecast__item {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}

.forecast__item--day {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.forecast__item--icon {
  font-size: 2.5rem;
}

.forecast__item--low-high {
  font-size: 10px;
  text-align: center;
}

.icon {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info--location {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.info--divider {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.info--divider, .info--summary {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.weather {
  font-family: 'Roboto', sans-serif;
  display: flex;
  line-height: 1;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather--temp, .weather--scale {
  font-size: 10rem;
  font-weight: 100;
}

.weather--scale-btn {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}

.weather-settings {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

